# pifba configurations for 6 buttons games ##############################
[Keyboard]
# Get codes from /usr/include/SDL/SDL_keysym.h
A_1=306
B_1=32
X_1=308
Y_1=304
L_1=122
R_1=120
START_1=13
SELECT_1=9
LEFT_1=276
RIGHT_1=275
UP_1=273
DOWN_1=274
QUIT=27
#player 2 keyboard controls, disabled by default
A_2=999
B_2=999
X_2=999
Y_2=999
L_2=999
R_2=999
START_2=999
SELECT_2=999
LEFT_2=999
RIGHT_2=999
UP_2=999
DOWN_2=999

[Joystick]
# Get codes from "jstest /dev/input/js0"
# from package "joystick"
# A (pifba): weak punch     = 3 (jstest) = square (PS)   = Y (SNES)
A_1=3
# B (pifba): strong punch   = 0 (jstest) = triangle (PS) = X (SNES)
B_1=0
# X (pifba): medium punch   = 7 (jstest) = R1 (PS)       = R (SNES)
X_1=7

# Y (pifba): weak kick      = 2 (jstest) = cross (PS)    = B (SNES)
Y_1=2
# L (pifba): medium kick    = 5 (jstest) = R2 (PS)       = ? (SNES)
L_1=5
# R (pifba): strong kick    = 1 (jstest) = circle (PS)   = A (SNES)
R_1=1

START_1=9
SELECT_1=8
#Joystick axis
JA_LR=0
JA_UD=1
#player 2 button configuration
A_2=3
B_2=0
X_2=7
Y_2=2
L_2=5
R_2=1
START_2=9
SELECT_2=8
#Joystick axis
JA_LR_2=0
JA_UD_2=1

[Graphics]
DisplaySmoothStretch=1
# Display Effect: 0 none, 1 scanlines
DisplayEffect=0
DisplayBorder=0
MaintainAspectRatio=1

[Sound]
### FINAL DO ARQUIVO ###


